
{% if page.language == "en" %}
	{% assign path = "/publishing/docs/css/" %}
{% else %}
	{% assign path = "/publishing/" + page.language + "/css/"  %}
{% endif %}

<ol role="list">
	<li id="css-color">
		<a href="{{ path }}color.html">{{ site.data[page.language].topics.css.topics.css-color.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.css.topics.css-color.subtitle }}</span>
	</li>
	<li id="css-contrast">
		<a href="{{ path }}contrast.html">{{ site.data[page.language].topics.css.topics.css-contrast.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.css.topics.css-contrast.subtitle }}</span>
	</li>
	<li id="css-ref">
		<a href="{{ path }}reference.html">{{ site.data[page.language].topics.css.topics.css-ref.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.css.topics.css-ref.subtitle }}</span>
	</li>
	<li id="css-reflow">
		<a href="{{ path }}reflow.html">{{ site.data[page.language].topics.css.topics.css-reflow.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.css.topics.css-reflow.subtitle }}</span>
	</li>
	<li id="css-text-resize">
		<a href="{{ path }}text-resize.html">{{ site.data[page.language].topics.css.topics.css-text-resize.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.css.topics.css-text-resize.subtitle }}</span>
	</li>
	<li id="css-text-spacing">
		<a href="{{ path }}text-spacing.html">{{ site.data[page.language].topics.css.topics.css-text-spacing.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.css.topics.css-text-spacing.subtitle }}</span>
	</li>
</ol>
