{% if page.allTopics %}
	{% assign hd = "h4" %}
{% else %}
	{% assign hd = "h3" %}
{% endif %}

{% if page.language == "en" %}
	{% assign path = "/publishing/docs/navigation/" %}
{% else %}
	{% assign path = "/publishing/" + page.language + "/navigation/"  %}
{% endif %}

<section id="nav-aids">
	<{{ hd }}>{{ site.data[page.language].topics.navigation.categories.nav-aids.title }}</{{ hd }}>
	
	<ol role="list">
		<li id="nav-contentlist">
			<a href="{{ path }}content-list.html">{{ site.data[page.language].topics.navigation.categories.nav-aids.topics.nav-contentlist.title }}</a>
			<br>
			<span class="topic_subtitle">{{ site.data[page.language].topics.navigation.categories.nav-aids.topics.nav-contentlist.subtitle }}</span>
		</li>
		<li id="nav-landmarks">
			<a href="{{ path }}landmarks.html">{{ site.data[page.language].topics.navigation.categories.nav-aids.topics.nav-landmarks.title }}</a>
			<br>
			<span class="topic_subtitle">{{ site.data[page.language].topics.navigation.categories.nav-aids.topics.nav-landmarks.subtitle }}</span>
		</li>
		<li id="nav-toc">
			<a href="{{ path }}toc.html">{{ site.data[page.language].topics.navigation.categories.nav-aids.topics.nav-toc.title }}</a>
			<br>
			<span class="topic_subtitle">{{ site.data[page.language].topics.navigation.categories.nav-aids.topics.nav-toc.subtitle }}</span>
		</li>
	</ol>
</section>

<section id="nav-page">
	<{{ hd }}>{{ site.data[page.language].topics.navigation.categories.nav-page.title }}</{{ hd }}>
	
	<ol role="list">
		<li id="nav-pagenav">
			<a href="{{ path }}pagenavigation.html">{{ site.data[page.language].topics.navigation.categories.nav-page.topics.nav-pagenav.title }}</a>
			<br>
			<span class="topic_subtitle">{{ site.data[page.language].topics.navigation.categories.nav-page.topics.nav-pagenav.subtitle }}</span>
		</li>
		<li id="nav-pagebreaks">
			<a href="{{ path }}pagebreaks.html">{{ site.data[page.language].topics.navigation.categories.nav-page.topics.nav-pagebreaks.title }}</a>
			<br>
			<span class="topic_subtitle">{{ site.data[page.language].topics.navigation.categories.nav-page.topics.nav-pagebreaks.subtitle }}</span>
		</li>
		<li id="nav-pagelist">
			<a href="{{ path }}pagelist.html">{{ site.data[page.language].topics.navigation.categories.nav-page.topics.nav-pagelist.title }}</a>
			<br>
			<span class="topic_subtitle">{{ site.data[page.language].topics.navigation.categories.nav-page.topics.nav-pagelist.subtitle }}</span>
		</li>
		<li id="nav-pagesrc">
			<a href="{{ path }}pagesrc.html">{{ site.data[page.language].topics.navigation.categories.nav-page.topics.nav-pagesrc.title }}</a>
			<br>
			<span class="topic_subtitle">{{ site.data[page.language].topics.navigation.categories.nav-page.topics.nav-pagesrc.subtitle }}</span>
		</li>
	</ol>
</section>
