{% if page.language == "en" %}
	{% assign path = "/publishing/docs/script/" %}
{% else %}
	{% assign path = "/publishing/" + page.language + "/script/"  %}
{% endif %}

<ol role="list">
	<li id="script-autocomplete">
		<a href="{{ path }}autocomplete.html">{{ site.data[page.language].topics.script.topics.script-autocomplete.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.script.topics.script-autocomplete.subtitle }}</span>
	</li>
	<li id="script-controls">
		<a href="{{ path }}controls.html">{{ site.data[page.language].topics.script.topics.script-controls.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.script.topics.script-controls.subtitle }}</span>
	</li>
	<li id="script-validation">
		<a href="{{ path }}input-validation.html">{{ site.data[page.language].topics.script.topics.script-validation.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.script.topics.script-validation.subtitle }}</span>
	</li>
	<li id="script-keyboard">
		<a href="{{ path }}keyboard.html">{{ site.data[page.language].topics.script.topics.script-keyboard.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.script.topics.script-keyboard.subtitle }}</span>
	</li>
	<li id="script-labels">
		<a href="{{ path }}labels.html">{{ site.data[page.language].topics.script.topics.script-labels.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.script.topics.script-labels.subtitle }}</span>
	</li>
	<li id="script-pe">
		<a href="{{ path }}pe.html">{{ site.data[page.language].topics.script.topics.script-pe.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.script.topics.script-pe.subtitle }}</span>
	</li>
	<li id="script-tab-order">
		<a href="{{ path }}tab-order.html">{{ site.data[page.language].topics.script.topics.script-tab-order.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.script.topics.script-tab-order.subtitle }}</span>
	</li>
	<li id="script-timers">
		<a href="{{ path }}timers.html">{{ site.data[page.language].topics.script.topics.script-timers.title }}</a>
		<br>
		<span class="topic_subtitle">{{ site.data[page.language].topics.script.topics.script-timers.subtitle }}</span>
	</li>
</ol>
