{% if page.index %}
	{% assign classes = "index category" %}
{% elsif page.allTopics %}
	{% assign classes = "index" %}
{% elsif page.search %}
	{% assign classes = "search" %}
{% elsif page.category[1] == "dpub-aria" %}
	{% assign classes = "main" %}
{% elsif page.root %}
	{% assign classes = "" %}
{% else %}
	{% assign classes = "category" %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ page.language }}">
	<head>
		{% include publishing/head.html %}
		
		{% if page.language == "en" %}
		<script src="https://cdn.botpress.cloud/webchat/v5.0/inject.js"></script>
		<script src="https://files.bpcontent.cloud/2026/08/17/13/20260817131327-SBLD064K.js" defer></script>
		{% endif %}
	</head>

	<body>
		{% include publishing/header.html %}
		
		<main id="main" class="{{ classes }}">
			{% include publishing/support.html %}
			{{content}}
		</main>
		
		{% include publishing/footer.html %}
	</body>
</html>
