{% if page.language == "en" %}
	{% assign path = "docs" %}
{% else %}
	{% assign path = page.language %}
{% endif %}
<footer>
	<div class="footer-lists">
		<div class="footer-list">
			<div>{{ site.data[page.language].ui.footer.site }}</div>
			<ul>
				<li>
					<a href="/publishing/{{path}}/topics.html">{{ site.data[page.language].ui.footer.topics }}</a>
				</li>
				<li>
					<a href="/publishing/{{path}}/glossary">{{ site.data[page.language].ui.footer.gloss }}</a>
				</li>
				<li>
					<a href="/publishing/{{path}}/new">{{ site.data[page.language].ui.footer.whatnew }}</a>
				</li>
				<li>
					<a href="/publishing/{{path}}/about.html">{{ site.data[page.language].ui.footer.about }}</a>
				</li>
				<li>
					<a href="https://daisy.org/KBSponsor">{{ site.data[page.language].ui.footer.support }}</a>
				</li>
			</ul>
		</div>
		<div class="footer-list">
			<div>{{ site.data[page.language].ui.footer.feedback }}</div>
			<ul>
				<li>
					<a href="/publishing/{{path}}/reporting/#bugs">{{ site.data[page.language].ui.footer.report }}</a>
				</li>
				<li>
					<a href="https://github.com/DAISY/kb/commits/main/publishing/docs/html/abbr.html">{{ site.data[page.language].ui.footer.rev }}</a>
				</li>
				<li>
					<a href="/publishing/{{path}}/reporting/#new">{{ site.data[page.language].ui.footer.request }}</a>
				</li>
				<li>
					<a href="/publishing/{{path}}/contribute">{{ site.data[page.language].ui.footer.contrib }}</a>
				</li>
			</ul>
		</div>
		<div class="footer-list">
			<div>{{ site.data[page.language].ui.footer.spec }}</div>
			<ul>
				<li>
					<a href="https://www.w3.org/TR/epub-a11y/">{{ site.data[page.language].ui.footer.a11y }}</a>
				</li>
				<li>
					<a href="https://www.w3.org/TR/epub/">{{ site.data[page.language].ui.footer.epub3 }}</a>
				</li>
			</ul>
		</div>
		<div class="footer-list">
			<div>{{ site.data[page.language].ui.footer.lang }}</div>
			<select onchange="switchLanguage(this)">
				<option value="en" selected="true">{{ site.data[page.language].ui.footer.en }}</option>
				<option value="ja">{{ site.data[page.language].ui.footer.ja }}</option>
			</select>
		</div>
	</div>
	<p class="copy">&copy; {{ 'now' | date: "%Y" }} {{ site.data[page.language].ui.footer.copy }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
			href="http://www.daisy.org/terms-use">{{ site.data[page.language].ui.footer.terms }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a><a
				href="https://daisy.org/about-us/terms-and-conditions/privacy/">{{ site.data[page.language].ui.footer.privacy }}</a></p>
</footer>
<script src="/js/google-clean.js"></script>


<script>
	/* temp move from init.js */
	
	if (window.location.hostname.toLowerCase() === 'kb.daisy.org' && window.location.protocol === 'http:') {
		const httpsUrl = 'https://' + window.location.host + window.location.pathname + window.location.search + window.location.hash;
		window.location.replace(httpsUrl);
	}
	
	prettyPrint();

	
	var hasExamples = document.getElementById('ex');
	
	if (hasExamples) {
		var examples = hasExamples.querySelectorAll('.label');
		
		for (var i = 0; i < examples.length; i++) {
			var permalink = createPermaLink(i+1, 'example', examples[i].parentNode.parentNode.id);
			examples[i].insertAdjacentElement('afterBegin', permalink);
		}
	}
	
	var hasFAQ = document.getElementById('faq');
	
	if (hasFAQ) {
		var faqs = hasFAQ.querySelectorAll('dt');
		
		for (var i = 0; i < faqs.length; i++) {
			var permalink = this.createPermaLink(i+1, 'FAQ', faqs[i].id);
			faqs[i].insertAdjacentElement('afterBegin', permalink);
		}
	}

	/* creates a permalink for the specified content */
	
	createPermaLink = function(num, label, dest) {
	
		var a = document.createElement('a');
			a.href = '#' + dest;
			a.setAttribute('class', 'permalink');
			a.setAttribute('aria-label', msg.pageControl.permalink + label + ' ' + num);
			a.appendChild(document.createTextNode(msg.pageControl.permalinkSymbol));
		
		return a;
	
	}

	/* 
	 * 
	 * Change the page language
	 * 
	 */
	
	function switchLanguage(elem) {
		var old_lang = lang === 'en' ? 'docs' : lang;
		var new_lang = elem.value === 'en' ? 'docs' : elem.value;
		document.location.href = document.location.href.replace('/'+old_lang+'/', '/'+new_lang+'/');
	}
	
	
	/* 
	 * 
	 * Example copying callback functions
	 * 
	 */
	
	
	function copyExampleDelegate(ex_id) {
		return function(){
			copyExample(ex_id);
		}
	}
	
	function copyExample(ex_id) {
	
		// select the example
		var pre_orig = document.querySelector('pre#'+ex_id);
		
		// create a clone of the element to operate on
		var pre = pre_orig.cloneNode(true);
		
		// grab all the list items in the example (each li is a pretty-printed line of code)
		var li = pre.querySelectorAll('li');
		
		// add a line break to the end of each list item so formatting is retained when the li tags are stripped later
		for (var i = 0; i < li.length; i++) {
			li[i].appendChild(document.createTextNode('\n'));
		}
		
		// create a temporary textarea to copy the example out of and paste the text content of the example into it to remove any tags
		var textArea = document.createElement("textarea");
			textArea.value = pre.textContent;
		
		document.body.appendChild(textArea);
		
		textArea.select();
		
		// copy the example to the clipboard
		try {
			document.execCommand('copy');
			alert('Code successfully copied.')
		}
		catch (err) {
			console.error('Copy failed: ', err);
		}
		
		// discard the textarea
		document.body.removeChild(textArea);
	}

</script>
	