<header>
	<a href="#main" id="skip-main">{{ site.data[page.language].ui.header.skip }}</a>
	<h1>
		<a href="/publishing/docs/" class="home-link"><img class="logo" src="/graphics/daisy_high.jpg"
				alt="{{ site.data[page.language].ui.header.logo }}"> {{ site.data[page.language].ui.kb_name.publishing }}</a>
	</h1>
	<search title="{{ site.data[page.language].ui.kb_name.kb }}" hidden="">
		<script async="" src="https://cse.google.com/cse.js?cx=012567327240487320396:ngadtxfagto"></script>
		<div class="gcse-searchbox-only" data-lr="lang_en" data-gl="lang_en"></div>
	</search>
</header>
