<section id="conformance">
	<h3>アクセシビリティ適合（conformance）</h3>
	<p class="topic_subtitle">アクセシビリティ適合トピックでは、電子書籍に適用されるさまざまなアクセシビリティ規格を満たすための情報を提供します。</p>
	<ol role="list">
		<li id="conf-epub">
			<a href="conformance/epub.html">EPUBアクセシビリティ</a>
			<br>
			<span class="topic_subtitle">EPUBアクセシビリティ規格の解説</span>
		</li>
		<li id="conf-s508">
			<a href="conformance/s508.html">リハビリテーション法第508条（米国）</a>
			<br>
			<span class="topic_subtitle">出版物に対する米国リハビリテーション法第508条の要件の解説</span>
		</li>
		<li id="conf-wcag">
			<a href="conformance/wcag.html">WCAGの概要</a>
			<br>
			<span class="topic_subtitle">W3Cのウェブコンテンツ アクセシビリティガイドライン（WCAG）の紹介</span>
		</li>
		<li id="conf-wcag-expl">
			<a href="conformance/../wcag/">WCAG解説</a>
			<br>
			<span class="topic_subtitle">各WCAG達成方法集の紹介。各トピックのサブメニューへのリンク</span>
		</li>
	</ol>
</section>
