<section id="css">
	<h3>CSS</h3>
	<p class="topic_subtitle">CSSトピックでは、カスケードスタイルシート技術を使用したコンテンツのアクセシブルなスタイル設定について説明します。</p>
	<ol role="list">
		<li id="css-color">
			<a href="css/color.html">色</a>
			<br>
			<span class="topic_subtitle">色に頼らずに情報が伝わるようにするテクニック</span>
		</li>
		<li id="css-contrast">
			<a href="css/contrast.html">コントラスト</a>
			<br>
			<span class="topic_subtitle">文字色と背景色を設定するときに十分なコントラストを確保するためのテクニック</span>
		</li>
		<li id="css-ref">
			<a href="css/reference.html">CSSプロパティリファレンス</a>
			<br>
			<span class="topic_subtitle">アクセシビリティに関する既知の問題がある主なCSSプロパティへの参照</span>
		</li>
		<li id="css-reflow">
			<a href="css/reflow.html">リフロー</a>
			<br>
			<span class="topic_subtitle">WCAGのリフロー要件を満たす際にスタイルがもたらす問題についての説明</span>
		</li>
		<li id="css-text-resize">
			<a href="css/text-resize.html">文字サイズの変更</a>
			<br>
			<span class="topic_subtitle">文字のサイズが変更されたときにアクセシビリティの問題を回避するためのテクニック</span>
		</li>
		<li id="css-text-spacing">
			<a href="css/text-spacing.html">テキストの間隔</a>
			<br>
			<span class="topic_subtitle">テキストの間隔が変更されたときにアクセシビリティの問題を回避するためのテクニック</span>
		</li>
	</ol>
</section>
