<section id="epub">
	<h3>EPUB</h3>
	<p class="topic_subtitle">EPUBトピックでは、EPUBフォーマットに固有のアクセシビリティに関する事項について説明します。</p>
	<section id="epub-general">
		<h4>全般</h4>
		<ol role="list">
			<li id="epub-cmt">
				<a href="epub/cmt.html">コアメディアタイプ</a>
				<br>
				<span class="topic_subtitle">EPUB出版物で使用できるフォーマットの解説</span>
			</li>
			<li id="epub-cover">
				<a href="epub/cover.html">表紙</a>
				<br>
				<span class="topic_subtitle">表紙画像に関するアクセシビリティの実践</span>
			</li>
			<li id="epub-title">
				<a href="epub/title.html">出版物のタイトル</a>
				<br>
				<span class="topic_subtitle">EPUB出版物のタイトルの指定</span>
			</li>
			<li id="epub-order">
				<a href="epub/reading-order.html">読み上げ順</a>
				<br>
				<span class="topic_subtitle">spineによる文書の読み上げ順の指定</span>
			</li>
			<li id="epub-remote">
				<a href="epub/remote-resources.html">外部リソース</a>
				<br>
				<span class="topic_subtitle">EPUBコンテナ外のリソースをホストする際の問題の概要</span>
			</li>
			<li id="epub-language">
				<a href="epub/language.html">言語の設定</a>
				<br>
				<span class="topic_subtitle">パッケージドキュメントおよびコンテンツドキュメント内の言語識別</span>
			</li>
			<li id="epub-dir">
				<a href="epub/dir.html">テキストの進行方向</a>
				<br>
				<span class="topic_subtitle">メタデータのテキストの進行方向が左から右か、右から左かを指定する</span>
			</li>
		</ol>
	</section>
	<section id="epub-validation">
		<h4>検証 </h4>
		<ol role="list">
			<li id="epub-val-overview">
				<a href="epub/validation/overview.html">検証手順</a>
				<br>
				<span class="topic_subtitle">EPUB出版物の検証手順とツールの概要</span>
			</li>
			<li id="epub-val-epubcheck">
				<a href="epub/validation/epubcheck.html">Epubcheck</a>
				<br>
				<span class="topic_subtitle">epubcheckを使用して出版物の規格への適合性の問題を確認する方法</span>
			</li>
			<li id="epub-val-ace">
				<a href="epub/validation/ace.html">Ace by DAISY</a>
				<br>
				<span class="topic_subtitle">Ace チェッカーを使用してアクセシビリティの問題を見つける方法</span>
			</li>
			<li id="epub-val-smart">
				<a href="epub/validation/smart.html">Ace SMART</a>
				<br>
				<span class="topic_subtitle">Ace SMART ツールを使用して、EPUB アクセシビリティ規格に照らして出版物を評価する方法</span>
			</li>
		</ol>
	</section>
</section>
