<section id="fxl">
	<h3>固定レイアウト</h3>
	<p class="topic_subtitle">固定レイアウトのトピックでは、固定寸法のページにレイアウトされるコンテンツ (つまり、コンテンツは画面に合わせてリフローされず、配置された場所に留まる)
		の作成に関して説明します。</p>
	<section id="fxl-general">
		<h4>全般</h4>
		<ol role="list">
			<li id="fxl-overview">
				<a href="fxl/overview.html" aria-label="Fixed Layouts Overview">概要</a>
				<br>
				<span class="topic_subtitle">EPUBで固定レイアウトを作成するための一般的な概要</span>
			</li>
			<li id="fxl-html">
				<a href="fxl/html.html">HTMLレイアウト</a>
				<br>
				<span class="topic_subtitle">HTMLでアクセシブルな固定レイアウトを作成する方法の概要</span>
			</li>
			<li id="fxl-img-spine">
				<a href="fxl/img-spine.html">Spine内の画像</a>
				<br>
				<span class="topic_subtitle">EPUBのspine内に画像を直接配置する場合のアクセシビリティの問題の概要</span>
			</li>
			<li id="fxl-svg">
				<a href="fxl/svg.html">SVG</a>
				<br>
				<span class="topic_subtitle">SVGでアクセシブルな固定レイアウトを作成する方法の概要</span>
			</li>
			<li id="fxl-wcag">
				<a href="fxl/wcag.html">WCAG準拠</a>
				<br>
				<span class="topic_subtitle">固定レイアウトをWCAGアクセシビリティ要件に準拠させる際の難しさの概要</span>
			</li>
		</ol>
	</section>
	<section id="fxl-tech">
		<h4>テクニック</h4>
		<ol role="list">
			<li id="fxl-img">
				<a href="fxl/img.html" aria-label="Fixed Layout Images">画像</a>
				<br>
				<span class="topic_subtitle">画像ベースの固定レイアウトをアクセシブルにする際の問題の探求</span>
			</li>
			<li id="fxl-spreads">
				<a href="fxl/spreads.html">見開きページ</a>
				<br>
				<span class="topic_subtitle">固定レイアウトの複数ページにまたがるコンテンツに関する問題の探求</span>
			</li>
			<li id="fxl-orient">
				<a href="fxl/orientation.html">画面の向き</a>
				<br>
				<span class="topic_subtitle">固定レイアウトのレンダリングにおける、方向が制限される問題についての説明</span>
			</li>
		</ol>
	</section>
</section>
