<section id="html">
	<h3>HTML</h3>
	<p class="topic_subtitle"
		>HTMLトピックでは、アクセシブルなHTMLコンテンツの作成に関連する話題を取り上げます。ガイドラインには、要素と属性をアクセシブルに使用する方法、索引や用語集などの一般的な出版物の構造をアクセシブルに作成する方法、ARIA
		役割（role）、状態（state）、プロパティ（property）の利用方法などが含まれます。</p>
	<section id="html-elem-attr">
		<h4>要素と属性</h4>
		<ol role="list">
			<li id="html-abbr">
				<a href="html/abbr.html">略語</a>
				<br>
				<span class="topic_subtitle"><code>abbr</code>要素</span>
			</li>
			<li id="html-accesskeys">
				<a href="html/accesskeys.html">アクセスキー</a>
				<br>
				<span class="topic_subtitle"><code>accesskey</code>属性</span>
			</li>
			<li id="html-articles">
				<a href="html/articles.html">記事</a>
				<br>
				<span class="topic_subtitle"><code>article</code>要素</span>
			</li>
			<li id="html-asides">
				<a href="html/asides.html">アサイド（補足説明）</a>
				<br>
				<span class="topic_subtitle"><code>aside</code>要素</span>
			</li>
			<li id="html-audio">
				<a href="html/audio.html">音声</a>
				<br>
				<span class="topic_subtitle"><code>audio</code>要素</span>
			</li>
			<li id="html-emphasis">
				<a href="html/emphasis.html">太字と斜体</a>
				<br>
				<span class="topic_subtitle"
					><code>b</code>、<code>em</code>、<code>i</code>、<code>strong</code>要素</span>
			</li>
			<li id="html-context">
				<a href="html/context.html">区切り</a>
				<br>
				<span class="topic_subtitle"><code>hr</code>要素</span>
			</li>
			<li id="html-details">
				<a href="html/details.html">詳細</a>
				<br>
				<span class="topic_subtitle"><code>details</code>要素</span>
			</li>
			<li id="html-figures">
				<a href="html/figures.html">フィギュア（図表）</a>
				<br>
				<span class="topic_subtitle"><code>figure</code>要素</span>
			</li>
			<li id="html-forms">
				<a href="html/forms.html">フォーム</a>
				<br>
				<span class="topic_subtitle"><code>form</code>要素</span>
			</li>
			<li id="html-headings">
				<a href="html/headings.html">見出し</a>
				<br>
				<span class="topic_subtitle"
						><code>h1</code>から<code>h6</code>、<code>hgroup</code>と<code>heading</code>要素</span>
			</li>
			<li id="html-ids">
				<a href="html/ids.html">識別子</a>
				<br>
				<span class="topic_subtitle"><code>id</code>属性</span>
			</li>
			<li id="html-iframes">
				<a href="html/iframes.html">インラインフレーム</a>
				<br>
				<span class="topic_subtitle"><code>iframe</code>要素</span>
			</li>
			<li id="html-lang">
				<a href="html/lang.html">言語</a>
				<br>
				<span class="topic_subtitle"><code>lang</code>属性と <code>xml:lang</code>属性</span>
			</li>
			<li id="html-links">
				<a href="html/links.html">リンク</a>
				<br>
				<span class="topic_subtitle"><code>a</code>要素</span>
			</li>
			<li id="html-lists">
				<a href="html/lists.html">リスト</a>
				<br>
				<span class="topic_subtitle"
					><code>dl</code>、<code>ol</code>、<code>ul<code>要素</code></code></span>
			</li>
			<li id="html-main">
				<a href="html/main.html">メインコンテンツ</a>
				<br>
				<span class="topic_subtitle"><code>main</code>要素</span>
			</li>
			<li id="html-mathml">
				<a href="html/mathml.html">MathML</a>
				<br>
				<span class="topic_subtitle"><code>math</code>要素</span>
			</li>
			<li id="html-meta">
				<a href="html/meta.html">メタ</a>
				<br>
				<span class="topic_subtitle"><code>meta</code>要素</span>
			</li>
			<li id="html-object">
				<a href="html/object.html">オブジェクト</a>
				<br>
				<span class="topic_subtitle"><code>object</code>要素</span>
			</li>
			<li id="html-title">
				<a href="html/title.html">ページタイトル</a>
				<br>
				<span class="topic_subtitle"><code>title</code>要素</span>
			</li>
			<li id="html-quote">
				<a href="html/quotes.html">引用文</a>
				<br>
				<span class="topic_subtitle"><code>blockquote</code>要素と <code>q</code>要素</span>
			</li>
			<li id="html-sections">
				<a href="html/sections.html">セクション</a>
				<br>
				<span class="topic_subtitle"><code>section</code>要素</span>
			</li>
			<li id="html-dir">
				<a href="html/dir.html">テキストの進行方向</a>
				<br>
				<span class="topic_subtitle"><code>dir</code>属性</span>
			</li>
			<li id="html-svg">
				<a href="html/svg.html">SVG</a>
				<br>
				<span class="topic_subtitle"><code>svg</code>要素</span>
			</li>
			<li id="html-video">
				<a href="html/video.html">ビデオ</a>
				<br>
				<span class="topic_subtitle"><code>video</code>要素</span>
			</li>
		</ol>
	</section>
	<section id="html-images">
		<h4>画像</h4>
		<ol role="list">
			<li id="html-image-anim">
				<a href="html/images-animated.html">アニメーション画像</a>
				<br>
				<span class="topic_subtitle">アクセシブルなアニメーション画像のベストプラクティス</span>
			</li>
			<li id="html-image-deco">
				<a href="html/images-deco.html">装飾画像</a>
				<br>
				<span class="topic_subtitle">ユーザーに情報を伝えていない画像を識別する方法</span>
			</li>
			<li id="html-image-icon">
				<a href="html/images-icons.html">アイコン</a>
				<br>
				<span class="topic_subtitle">アクセシブルなアイコンを含める方法のベストプラクティス</span>
			</li>
			<li id="html-image-desc">
				<a href="html/images-desc.html">画像の説明</a>
				<br>
				<span class="topic_subtitle">代替テキストや説明についての方法や書き方のコツ</span>
			</li>
			<li id="html-image-maps">
				<a href="html/maps.html">イメージマップ</a>
				<br>
				<span class="topic_subtitle">アクセシブルなイメージマップを含めるためのベストプラクティス</span>
			</li>
			<li id="html-image-select">
				<a href="html/images-selection.html">画像の選択</a>
				<br>
				<span class="topic_subtitle">さまざまなデバイスのレンダリング機能に合わせて最適化した画像を組み込む方法</span>
			</li>
			<li id="html-image-text">
				<a href="html/images-text.html">文字画像</a>
				<br>
				<span class="topic_subtitle">画像にテキストが含まれている場合のベストプラクティス</span>
			</li>
			<li id="html-image-qr">
				<a href="html/images-qr.html">QRコード</a>
				<br>
				<span class="topic_subtitle">QRコードを付加するベストプラクティス</span>
			</li>
			<li id="html-textbased">
				<a href="html/images-text-based.html">テキストベースの画像</a>
				<br>
				<span class="topic_subtitle">ASCII アート、絵文字、編集されたテキスト、空欄補充問題などのテキストベースの画像をアクセシブルにする手法</span>
			</li>
		</ol>
	</section>
	<section id="html-tables">
		<h4>表</h4>
		<ol role="list">
			<li id="html-table-basics">
				<a href="html/tables-basics.html">表の基本</a>
				<br>
				<span class="topic_subtitle">アクセシブルな表のマークアップ方法の基本の紹介</span>
			</li>
			<li id="html-table-headers">
				<a href="html/tables-headers.html">複雑なヘッダー</a>
				<br>
				<span class="topic_subtitle">複雑な表のヘッダーをアクセシブルにするためのベストプラクティス</span>
			</li>
			<li id="html-table-scope">
				<a href="html/tables-scope.html">ヘッダースコープ</a>
				<br>
				<span class="topic_subtitle">テーブルヘッダーが行と列のどちらに適用されるかの識別</span>
			</li>
			<li id="html-table-layout">
				<a href="html/tables-layout.html">レイアウトに使用する表</a>
				<br>
				<span class="topic_subtitle">レイアウトに使用する表を避けられない場合のベストプラクティス</span>
			</li>
			<li id="html-table-captions">
				<a href="html/tables-captions.html">表のキャプション</a>
				<br>
				<span class="topic_subtitle">表の目的を説明するキャプションの追加</span>
			</li>
			<li id="html-table-summary">
				<a href="html/tables-summary.html">表の概要</a>
				<br>
				<span class="topic_subtitle">表の構造を説明する要約の追加</span>
			</li>
		</ol>
	</section>
	<section id="html-structures">
		<h4>構造</h4>
		<ol role="list">
			<li id="html-biblio">
				<a href="html/bibliographies.html">文献リスト</a>
				<br>
				<span class="topic_subtitle">アクセシブルな文献リストを作成するためのマークアップの推奨事項</span>
			</li>
			<li id="html-glossary">
				<a href="html/glossaries.html">用語集</a>
				<br>
				<span class="topic_subtitle">アクセシブルな用語集を作成するためのマークアップの推奨事項</span>
			</li>
			<li id="html-indexes">
				<a href="html/indexes.html">索引</a>
				<br>
				<span class="topic_subtitle">アクセシブルな索引を作成するためのマークアップの推奨事項</span>
			</li>
		</ol>
	</section>
	<section id="html-patterns">
		<h4>Patterns</h4>
		<ol role="list">
			<li id="html-dropcaps">
				<a href="html/dropcaps.html">ドロップキャップ</a>
				<br>
				<span class="topic_subtitle">アクセシブルなドロップキャップを作成する方法</span>
			</li>
			<li id="html-notes">
				<a href="html/notes.html">注釈</a>
				<br>
				<span class="topic_subtitle">注釈や参考文献のアクセシブルな識別、構造化、リンク</span>
			</li>
			<li id="html-hidden-conent">
				<a href="html/hidden.html">非表示コンテンツ</a>
				<br>
				<span class="topic_subtitle">視覚的なレンダリングと支援技術の両方からコンテンツを非表示にする手法</span>
			</li>
			<li id="html-poetry">
				<a href="html/poetry.html">詩</a>
				<br>
				<span class="topic_subtitle">行ベースのコンテンツをフォーマットおよび記述するためのテクニック</span>
			</li>
			<li id="htmk-refs">
				<a href="html/reflinks.html">参照マークへのリンク</a>
				<br>
				<span class="topic_subtitle">表、図、注釈などの参照箇所に逆リンクする方法</span>
			</li>
		</ol>
	</section>
	<section id="html-concepts">
		<h4>コンセプト</h4>
		<ol role="list">
			<li id="html-reading-order">
				<a href="html/order.html">論理的な読み順</a>
				<br>
				<span class="topic_subtitle">主要なコンテンツを補助的なコンテンツと明確に分離するための実践</span>
			</li>
			<li id="html-sep-style">
				<a href="html/separation.html">スタイルの分離</a>
				<br>
				<span class="topic_subtitle">スタイルに頼らずに必要な情報を伝達できるようにするための実践</span>
			</li>
		</ol>
	</section>
	<section id="html-aria">
		<h4>ARIA</h4>
		<ol role="list">
			<li id="html-landmarks">
				<a href="html/landmarks.html">ARIAランドマーク</a>
				<br>
				<span class="topic_subtitle">出版物の重要なセクションを識別するための ARIA landmark roleの紹介</span>
			</li>
			<li id="html-role">
				<a href="html/roles.html">ARIA role 属性</a>
				<br>
				<span class="topic_subtitle">ARIA<code>role</code>属性を持つ要素が、支援技術によってどのように扱われるかの説明</span>
			</li>
			<li id="html-dpub">
				<a href="/publishing/ja/html/dpub-aria/index.html">デジタル出版ロール</a>
				<br>
				<span class="topic_subtitle"
					>ARIA<code>role</code>属性で使用するDPUB-ARIAモジュールの紹介。このページは、モジュール内の各ロールの詳細な説明にもリンクしている</span>
			</li>
		</ol>
	</section>
	<section id="html-semantics">
		<h4>セマンティクス</h4>
		<ol role="list">
			<li id="epub-type">
				<a href="html/epub-type.html"><code>epub:type</code>属性</a>
				<br>
				<span class="topic_subtitle">属性が、支援技術に影響を与えずにリーディングシステムでの読書体験をどのように向上できるかの概要</span>
			</li>
		</ol>
	</section>
</section>
