<section id="metadata">
	<h3>メタデータ</h3>
	<p class="topic_subtitle">メタデータのトピックでは、一般的に使用されている電子書籍のメタデータ仕様で利用できるアクセシビリティ プロパティについて説明します。</p>
	<section id="meta-general">
		<h4>全般</h4>
		<ol role="list">
			<li id="meta-evaluation">
				<a href="metadata/evaluation.html">評価メタデータ</a>
				<br>
				<span class="topic_subtitle">EPUB アクセシビリティ規格で要求される適合性と評価のメタデータ</span>
			</li>
			<li id="meta-onix">
				<a href="metadata/onix.html">ONIX</a>
				<br>
				<span class="topic_subtitle">ONIX メタデータ標準のコード リスト 196 のアクセシビリティ プロパティ</span>
			</li>
		</ol>
	</section>
	<section id="meta-schema">
		<h4>Schema.org</h4>
		<ol role="list">
			<li id="schema-overview">
				<a href="metadata/schema.org/index.html">概要</a>
				<br>
				<span class="topic_subtitle">schema.orgのCreativeWork タイプで定義されているアクセシビリティ メタデータ プロパティの概要</span>
			</li>
			<li id="schema-a11yAPI">
				<a href="metadata/schema.org/accessibilityAPI.html">アクセシビリティ API</a>
				<br>
				<span class="topic_subtitle"><code>accessibilityAPI</code> プロパティの利用によるプラットフォーム
					APIとの互換性の識別</span>
			</li>
			<li id="schema-a11yControl">
				<a href="metadata/schema.org/accessibilityControl.html">アクセシビリティコントロール</a>
				<br>
				<span class="topic_subtitle"
					><code>accessibilityControl</code>プロパティの利用による、ユーザーのコンテンツを制御する方法の識別</span>
			</li>
			<li id="schema-a11yFeature">
				<a href="metadata/schema.org/accessibilityFeature.html">アクセシビリティの機能</a>
				<br>
				<span class="topic_subtitle"
					><code>accessibilityFeature</code>プロパティの利用による、コンテンツのアクセシビリティの機能の明示</span>
			</li>
			<li id="schema-a11yHazard">
				<a href="metadata/schema.org/accessibilityHazard.html">アクセシビリティ上の危険性</a>
				<br>
				<span class="topic_subtitle"><code>accessibilityHazard</code>プロパティの利用による、ユーザーに対する危険性の明示</span>
			</li>
			<li id="schema-a11ySummary">
				<a href="metadata/schema.org/accessibilitySummary.html">アクセシビリティの要約</a>
				<br>
				<span class="topic_subtitle"><code>accessibilitySummary</code> プロパティを使用して概要を提供</span>
			</li>
			<li id="schema-accessMode">
				<a href="metadata/schema.org/accessMode.html">アクセスモード</a>
				<br>
				<span class="topic_subtitle"><code>accessMode</code>プロパティの利用によるコンテンツ性質の明示</span>
			</li>
			<li id="schema-accessModeSufficient">
				<a href="metadata/schema.org/accessModeSufficient.html">十分なアクセスモード</a>
				<br>
				<span class="topic_subtitle"
					><code>accessModeSufficient</code>プロパティの利用による、情報へのアクセスに十分な読み取り手段の明示</span>
			</li>
		</ol>
	</section>
</section>
