<section id="nav">
	<h3>ナビゲーション</h3>
	<p class="topic_subtitle">ナビゲーションのトピックでは、ナビゲーションをアクセシブルにする方法を説明します。</p>
	<section id="nav-aids">
		<h4>出版物ナビゲーション</h4>
		<ol role="list">
			<li id="nav-contentlist">
				<a href="nav/content-list.html">コンテンツリスト</a>
				<br>
				<span class="topic_subtitle">表や図などのリストを追加する方法の説明</span>
			</li>
			<li id="nav-landmarks">
				<a href="nav/landmarks.html">ランドマーク</a>
				<br>
				<span class="topic_subtitle">EPUBの出版物ランドマークの概念についての説明</span>
			</li>
			<li id="nav-toc">
				<a href="nav/toc.html">目次</a>
				<br>
				<span class="topic_subtitle">目次を組み込む方法のベストプラクティスの解説</span>
			</li>
		</ol>
	</section>
	<section id="nav-page">
		<h4>ページナビゲーション</h4>
		<ol role="list">
			<li id="nav-pagenav">
				<a href="nav/pagenav.html">概要</a>
				<br>
				<span class="topic_subtitle">ページナビゲーションのコンポーネントの紹介</span>
			</li>
			<li id="nav-pagebreaks">
				<a href="nav/pagebreaks.html">ページ区切りマーカー</a>
				<br>
				<span class="topic_subtitle">ページ区切りマーカーを追加する方法の説明</span>
			</li>
			<li id="nav-pagelist">
				<a href="nav/pagelist.html">ページリスト</a>
				<br>
				<span class="topic_subtitle">ページリストの目的と構成についての説明</span>
			</li>
			<li id="nav-pagesrc">
				<a href="nav/pagesrc.html">ページソース</a>
				<br>
				<span class="topic_subtitle">ページ割りに使用された原本の特定方法</span>
			</li>
		</ol>
	</section>
</section>
