<section id="script">
	<h3>スクリプト化されたコンテンツとフォーム</h3>
	<p class="topic_subtitle">スクリプトとフォームのトピックでは、電子書籍にインタラクティブなコンテンツを追加することについて説明します。</p>
	<ol role="list">
		<li id="script-autocomplete">
			<a href="script/autocomplete.html">オートコンプリート</a>
			<br>
			<span class="topic_subtitle"><code>autocomplete</code>属性を使用して、ユーザーが一般的なフォームに入力できるようにする</span>
		</li>
		<li id="script-controls">
			<a href="script/controls.html">カスタムコントロール</a>
			<br>
			<span class="topic_subtitle">ARIA
				役割（role)、状態（state）、プロパティ（property）を使用して、カスタムコントロールをアクセシブルにする</span>
		</li>
		<li id="script-validation">
			<a href="script/input-validation.html">入力検証</a>
			<br>
			<span class="topic_subtitle">ユーザーがフォームの入力エラーを理解して修正できるようにする手法</span>
		</li>
		<li id="script-keyboard">
			<a href="script/keyboard.html">キーボードコントロール</a>
			<br>
			<span class="topic_subtitle">キーボード ユーザーがスクリプト コンテンツを操作できるようにする手法</span>
		</li>
		<li id="script-labels">
			<a href="script/labels.html">ラベル</a>
			<br>
			<span class="topic_subtitle">入力とコントロールがアクセシブルにラベル付けされていることを保証する手法</span>
		</li>
		<li id="script-pe">
			<a href="script/pe.html">プログレッシブ エンハンスメント</a>
			<br>
			<span class="topic_subtitle">スクリプトが利用できない場合でもアクセスできる状態を維持できるように、コンテンツを段階的に強化する方法についての検討</span>
		</li>
		<li id="script-tab-order">
			<a href="script/tab-order.html">タブ順序</a>
			<br>
			<span class="topic_subtitle">キーボードのタブ順序がアクセシブルであることを確認するためのテクニック</span>
		</li>
		<li id="script-timers">
			<a href="script/timers.html">タイマー</a>
			<br>
			<span class="topic_subtitle">時間制限付きコンテンツへのアクセスを保証するテクニック</span>
		</li>
	</ol>
</section>
