<section id="sync-media">
	<h3>マルチメディアの同期</h3>
	<p class="topic_subtitle"
		>マルチメディアの同期のトピックでは、テキストと音声が同期して再生される電子書籍の作成について説明します。これらの出版物は、多くの場合、「読み上げ」本と呼ばれます。</p>
	<section id="sync-implementation">
		<h4>実装</h4>
		<ol role="list">
			<li id="sync-overview">
				<a href="sync-media/overlays.html">EPUB3メディアオーバーレイ</a>
				<br>
				<span class="topic_subtitle">テキストを録音済み音声の再生と同期するためのEPUB3のメディアオーバーレイ機能の概要</span>
			</li>
		</ol>
	</section>
	<section id="sync-techniques">
		<h4>テクニック</h4>
		<ol role="list">
			<li id="sync-highlight">
				<a href="sync-media/highlight.html">ハイライト</a>
				<br>
				<span class="topic_subtitle">アクセシブルなテキストの強調表示に関する考慮事項</span>
			</li>
			<li id="sync-lists">
				<a href="sync-media/lists.html" aria-label="Synchronized Media Lists">リスト</a>
				<br>
				<span class="topic_subtitle">同期再生のためのリストの構造化</span>
			</li>
			<li id="sync-tables">
				<a href="sync-media/tables.html" aria-label="Synchronized Media Tables">表</a>
				<br>
				<span class="topic_subtitle">同期再生のための表の構造化</span>
			</li>
		</ol>
	</section>
</section>
