<section id="tts">
	<h3>テキスト読み上げ（TTS）</h3>
	<p class="topic_subtitle">テキスト読み上げ（TTS）のトピックでは、高品質のTTSによる再生を実現するのに役立つ技術について説明します。</p>
	<ol role="list">
		<li id="tts-overview">
			<a href="text-to-speech/overview.html">概要</a>
			<br>
			<span class="topic_subtitle">テキスト読み上げ（TTS）再生に関する問題と、その解決に役立つ技術の概要</span>
		</li>
		<li id="tts-speech">
			<a href="text-to-speech/speech.html">CSS Speech</a>
			<br>
			<span class="topic_subtitle">TTSによる再生を制御するスタイルシートの音声モジュールプロパティの説明</span>
		</li>
		<li id="tts-pls">
			<a href="text-to-speech/pls.html">発音辞書</a>
			<br>
			<span class="topic_subtitle">発音辞書を使用して用語の辞書を作成する方法の説明</span>
		</li>
		<li id="tts-ssml">
			<a href="text-to-speech/ssml.html">SSML</a>
			<br>
			<span class="topic_subtitle">EPUBの合成音声マークアップ言語（SSML）の属性実装の説明</span>
		</li>
	</ol>
</section>
