{% if page.index or page.allTopics %}
	{% assign classes = "index" %}
{% elsif page.search %}
	{% assign classes = "search" %}
{% elsif page.subcategory == "dpub-aria" %}
	{% assign classes = "main" %}
{% elsif page.root %}
	{% assign classes = "" %}
{% else %}
	{% assign classes = "category" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

	<body>
		{% include header.html %}
		
		<main id="main" class="{{ classes }}">
			{% include support.html %}
			{{content}}
		</main>
		
		{% include footer.html %}
	</body>
</html>
